@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
@media only screen and (max-width: 1170px)
  .container
    width: 760px
  .section-header
    height: 185px
    .top-line
      height: 67px
    .topline-fixed
      margin-left: -393px
      height: 67px
    .top-line-bg
      height: 67px
    .menu-wrapper-fixed
      margin-left: -585px
      top: 67px
    .menu-wrapper-bg
      height: 60px
      top: 67px
    .menu-wrapper-fixed
      margin-left: -393px
    .top-line-wrapper
      justify-content: flex-start
    .top-line__menu
      height: 62px
      li
        white-space: nowrap
        align-self: flex-start
        padding: 16px 8px
        a
          font-size: 12px
    .top-line__city
      align-self: flex-start
      width: 50px
      padding: 20px 0px 0px 20px
      line-height: 1.1
      color: $accent
      .fas
        left: 3px
    .top-line__tel
      font-size: 12px
      white-space: nowrap
      align-self: flex-start
      padding: 16px 0px 0px 40px
      .tel-icon
        left: 0px
    .top-line__callback
      padding: 10px 5px
      margin-top: 15px
      letter-spacing: 1px
      white-space: nowrap
      font-size: 11.5px
    .top-line__email
      padding: 18px 11px 0 14px
      white-space: nowrap
    .bottom-line__logo
      img
        width: 271px
    .bottom-line__search
      margin-top: 8px
      margin-right: -2px
      input
        width: 260px
      span
        right: 160px

      .bottom-line__basket
        padding: 7px 40px 7px 15px
        img
          right: 15px
    .menu
      ul
        li
          padding: 16px 20px
          a
            font-size: 14px
            white-space: nowrap
            


  .section-slider
    .slider-item
      .slider-item__title
        letter-spacing: 2px
        font-size: 21px
    .left-side
      z-index: 10
    .slider-item
      .slider-item__title-site
        font-size: 20px
      .slider-item__post-title
        font-size: 18px
      .yearoffoun
        margin-left: 0px
        .yearoffoun-title
          font-size: 22px
          white-space: nowrap
        .yearoffoun-year
          font-size: 30px
      .ourexp
        .ourexp-title
          font-size: 22px
        .ourexp-year
          font-size: 30px
          white-space: nowrap
    .right-side
      position: relative
      width: 429px
      img
        position: absolute
        left: -130px
        top: -19px
        width: 429px
        height: 549px





  
  .section-advantages
    .advantages-frame
      display: none
      width: 731px
      left: 24px
      img
        width: 731px
        height: 578px
    .advantages-block
    .advantages-block__title
      font-size: 15px
    .advantages-block__list
      li
        span
          font-size: 12px
    .advantages-block:first-child
      margin-top: 38px
      .advantages-block__list
        margin-top: 14px
    .advantages-block:last-child
      margin-top: 39px
      .advantages-block__list
        margin-top: 11px
    .advantages-block:nth-child(2)
      margin-top: 40px
    .hor-lines-1, .hor-lines-2
      display: none




  .section-request
    .request-wrapper
    .request-title
      font-size: 18px
    .request-inputs
      input
        width: 130px
    .request-button
      padding: 6px 7px
      white-space: normal
      width: 106px
      margin-bottom: 10px




  .section-manufact
    .section-inner
    .manufacts
    .manufacts-blocks
      height: 250px
    .manufact-block
      align-self: flex-start
      .manufact-block__img
        width: 132px
        height: 52px
        img
          width: 132px
          height: 52px
        


  .section-twoblocks
    height: 330px
    .twoblocks
    .twoblocks-block
    .twoblocks-block-wrapper
    .twoblocks-block__bgwoman
      width: 380px
      img
        width: 380px
    .twoblocks-block__content
      right: -10px
    .twoblocks-block__title
    .twoblocks-block__bgwoman, .twoblocks-block__bgcupboard
      &:after
        height: 280px
      img
        height: 280px
    .twoblock-block__button
    .twoblocks-block__content
      top: 135px
      .twoblocks-block__title
        font-size: 20px
      .twoblock-block__button
        font-size: 18px
    .twoblocks-block__woman
      width: 160px
      top: -37px
      left: 13px
      img
        width: 160px
    .twoblocks-block__bgcupboard
      width: 380px
      img
        width: 380px
    .twoblocks-block__cupboard
      width: 160px
      top: -22px
      left: 12px
      img
        width: 170px






  .section-footer
    .footer-logo
      img
        width: 310px
        height: 46px
    .footer-fourblocks
      ul
        li
          a
            font-size: 14px
  .section-direction
    .direction-cards
      justify-content: space-around
    .direction-card
      height: 180px
    .direction-card-wrapper
      width: 240px
      height: 180px
      .direction-card-content
        width: 220px
        height: 160px
      .icon-1
        bottom: 49px
        right: -17px
      .icon-2
        bottom: 50px
        right: -38px
      .icon-3
        bottom: 51px
        right: -11px
      .icon-4
        bottom: 54px
        right: -43px
      .icon-5
        bottom: 45px
        right: -52px
      .icon-6
        bottom: 41px
        right: -51px
      .icon-7
        bottom: 51px
        right: -36px
      .icon-8
        bottom: 51px
        right: -38px
      .icon-9
        bottom: 50px
        right: -51px
      .icon-10
        bottom: 52px
        right: -28px
      .icon-11
        bottom: 51px
        right: -35px
      .icon-12
        bottom: 51px
        right: -47px
      .icon-13
        bottom: 46px
        right: -62px
      .icon-14
        bottom: 51px
        right: -37px
      .icon-15
        bottom: 52px
        right: -69px
      .icon-16
        bottom: 42px
        right: -30px
      .icon-17
        bottom: 46px
        right: -40px
      .icon-18
        bottom: 24px
        right: -72px
      .icon-19
        bottom: 60px
        right: -38px
      .icon-20
        bottom: 60px
        right: -45px
      .direction-card-content__title
        width: 180px
        font-size: 14px
        margin-top: 11px
        margin-left: 8px
      .direction-card-content__icon
        img
          width: 55%
      .direction-card-content__button
        font-size: 13px
        padding: 4px 5px
        width: 100px
        margin-left: 7px
        margin-bottom: 5px
      .direction-card-content__number
        margin-bottom: 5px
        margin-left: 7px
      .direction-card__catalog
        height: 180px
        line-height: 6.05
        font-size: 30px
  .section-contacts
    .contacts-block
      width: 717px
      margin:
        left: auto
        right: auto
        bottom: 100px
    .contacts-block-wrapper

  .section-delivery
    .delivery
      width: 710px
      height: 429px
    .delivery-block
    .delivery-block__text
      padding: 30px 15px

  .section-form
    .form-title
      .line
        font-size: 21px


  .section-company
    .company-blocks
      padding:
        top: 50px
        bottom: 20px

  .section-basket
    .basket-block__info
      margin: 55px 0px 0px 45px
      .line-text
        font-size: 21px
      .info-title
        width: 400px
        font-size: 16px
        padding: 7px 0px
      .info-manufacturer
        width: 400px
        .info-manufacturer__img
          box-sizing: border-box
          padding: 3px 0px 0px 0px
          img
            width: 80%
        .info-quantity__title
          font-size: 19px
        .info-manufacturer__title
          font-size: 19px
      .info-quantity
        width: 325px
      .info-close
        right: 24px
        bottom: 130px
    .basket-block__img
      width: 250px
      height: 250px
      img
        width: 250px
        height: 250px
    .basket-button
      font-size: 16px
      width: 345px

  .section-news
    .news-block__img
      width: 225px
      height: 150px
      img
        width: 225px
        height: 150px
    .h1-block
      padding-bottom: 0
    .news-wrapper
      margin-bottom: 100px
      margin-top: 20px
    .news-block__images
      margin-top: 35px
    .news-block__text1
      font-size: 15px
    .news-block__text2
      font-size: 15px
        
  .section-newslist
    .newslist-wrapper
      padding-bottom: 100px
    .newslist-block
      width: 640px
    .newslist-block-right
      width: 240px
      height: 159px
      margin-top: 41px
      .right-img
        width: 240px
        height: 159px
        img
          width: 240px
          height: 159px
    .newslist-block__date
      bottom: 16px
    .newslist-block-left
      .left-title
        font-size: 13px
        h2
          font-size: 15px
      .left-text
        width: 361px
        font-size: 13px
      .left-button
        width: 220px
        font-size: 14px
    .newslist-block-right


  .section-reviews
    .reviews-block
      width: 720px
    .reviews-blocks-rightside
      .rightside-text
        font-size: 11px
    .reviews-blocks-rightside
      .rightside-title
        margin-top: 19px
        font-size: 18px
    .reviews-block-leftside
      width: 185px
      height: 206px
      flex: 0 0 185px
      img
        width: 185px
        height: 206px
    .reviews-blocks
      padding-bottom: 70px


  .section-stockitem
    .stockitem-block__img
      width: 225px
      height: 150px
      img
        width: 225px
        height: 150px
    .stockitem-wrapper
      margin-bottom: 100px
      margin-top: 30px
    .stockitem-block__images
      margin-top: 35px
    .stockitem-block__text1
      font-size: 15px
    .stockitem-block__text2
      font-size: 15px
    .stockitem-block__title
      font-size: 16px
      h1
        font-size: 17px

  .section-stock
    .stock-block-leftside
      width: 265px
      height: 176px
      margin-top: 4px
      flex: 0 0 265px
      img
        width: 265px
        height: auto
    .stock-block-rightside
      .rightside-title
        font-size: 14px
        h2
          font-size: 14px
      .rightside-text
        font-size: 13px
      .rightside-button
        width: 210px
        font-size: 15px
        margin-top: 0px
    .stock-wrapper
      padding-bottom: 110px


  .section-service
    .service-block
      box-shadow: 0px 0px 80px rgba(#000, .1)
      padding: 25px
      margin-top: 17px
    .service-block__text
      font-size: 14px
    .service-cards-title
      +font('FuturaDemiC', 600, 16px)
      margin-top: 40px
    .service-cards
      padding-top: 30px
      padding-bottom: 60px
    .service-card
      position: relative
      box-shadow: 0px 0px 80px rgba(#000, .12)
      margin-bottom: 40px
      width: 235px
      height: 232px
    .service-card__img
      width: 233px
      height: 162px
      box-shadow: 0px 50px 50px rgba(#000, .05)
      border: 1px solid $accent
      img
        max-width: 175px
        max-height: 142px
    .service-card__bottom
      .bottom-title
        text-align: center
        +font('FuturaDemiC', 600, 11px)
        text-transform: uppercase
        padding: 10px
        border: 1px solid $accent
        border-top: 1px solid $accent
        height: 68px
        width: 235px
        box-sizing: border-box


  .section-commodity
    .commodity-block-img
      flex: 0 0 250px
      img
        width: 250px
        height: 250px
    .commodity-block__info
      .commodity-quantity
        width: 410px
      .commodity-title
        font-size: 14px
        width: 407px
      .commodity-text
        font-size: 11px
      .commodity-buttons
        font-size: 12px
        .commodity-buttons__first
          width: 151px
        .commodity-buttons__second
          width: 151px
        .commodity-buttons__third
          width: 151px
      .commodity-manufacturer
        width: 410px
      .commodity-manufacturer__title
        font-size: 17px
      .commodity-quantity__title
        font-size: 17px
      .commodity-quantity__buttons
        padding: 15px 0px 0px 0px
    .commodity-manufacturer__img
      min-height: 47px
      img
        max-width: 120px
        max-height: 47px
    .commodity-table
      .commodity-table-block
        padding: 10px 11px
        .feature-value
          li
            font-size: 12px

  .section-postcommodity
  .postcommodity-blocks
  .postcommodity-block
    width: 150px
    padding: 7px
  .postcommodity-block__img
    width: 135px
    height: 135px
    img
      width: 135px
      height: 135px
      box-shadow: 15px 15px 0px rgba(#fff, .5) 
  .postcommodity-block__title
    font-size: 12px
    height: 65px
  .postcommodity-block__manufacturer
    .manufacturer-title
      font-size: 11px
      line-height: 2
    .manufacturer-img
      min-height: 26px
      img
        max-width: 65px
        max-height: 26px
  .postcommodity-block__code
    font-size: 11px
  .postcommodity-block__buttons
    font-size: 9px 


  .section-tiles
  .tiles-wrapper
    padding-bottom: 30px
  .tiles-sidebar
    margin-right: 10px
    width: 198px
    flex: 0 0 198px
  .tiles-sidebar__button
    width: 99%
    padding: 9px 0px
    border: 2px solid $accent
    font-size: 17px
    margin-bottom: 15px
  .accordion-wrapper
    .accordion
      width: 198px
      .accordion-content
        font-size: 13px
        & > div
          padding: 3px 9px
        & > .accordion > .accordion-title-2
          padding: 3px 0px
        & > .accordion > .accordion-content-2 > div
          padding: 3px 10px
    .accordion-title
      font-size: 12px
    .accordion:nth-child(16)
      .accordion-title
        padding-top: 8px
    .accordion:nth-child(18)
      .accordion-title
        padding-top: 8px
    .accordion:nth-child(9)
      .accordion-title
        padding-top: 7px

  .accordion-content


  .tiles-catalog
    width: 555px
  .tiles-catalog__settings
    padding: 15px 5px
    display: flex
    background: #7697ac
    box-shadow: 0px 0px 60px rgba(#000, .1)
    select
      background: transparent
      border: 1px solid #fff
      color: #fff
      margin-left: 0px
      text-transform: uppercase
      font-size: 9px
      outline: none
      align-self: flex-start
      option
        background: #7697ac
        outline: none
    .settings-sorting
      display: flex
      justify-content: space-between
      color: #fff
      width: 260px
      select
        width: 94px
        margin-top: 4px
    .settings-sorting__title
      text-transform: uppercase
      font-size: 10px
      letter-spacing: 2px
      white-space: nowrap
      margin-top: 3px
    .settings-display
      display: flex
      justify-content: space-between
      color: #fff
      width: 240px
      margin-left: 10px
      .fas
        font-size: 16px
        color: #9bbbcf
        margin-left: 6px
        margin-top: -1px
        cursor: pointer
        &.list-active
          color: #fff

    .settings-display__title
      +font('FuturaDemiC', 600, 10px)
      text-transform: uppercase
      letter-spacing: 2px
      white-space: nowrap
      padding-top: 4px
      box-sizing: border-box
    .settings-display__buttons
      line-height: 1.5
      display: flex
      margin-top: 4px
    .settings-displaynumber
      display: flex
      color: #fff
      margin-left: 10px
      width: 125px
      flex: 0 0 125px
      select
        width: 40px
        margin-top: 4px
        flex: 0 0 40px
    .settings-displaynumber__title
      text-transform: uppercase
      letter-spacing: 2px
      font-size: 10px
      margin-top: 4px
  

  .tiles-block
    width: 165px
    padding: 7px
  .tiles-block__img
    width: 150px
    height: 150px
    img
      width: 150px
      height: 150px
      box-shadow: 15px 15px 0px rgba(#fff, .5) 
  .tiles-block__title
    font-size: 12px
    height: 65px
  .tiles-block__manufacturer
    .manufacturer-title
      font-size: 11px
      line-height: 2
    .manufacturer-img
      min-height: 26px
      img
        max-width: 65px
        max-height: 26px
  .tiles-block__code
    font-size: 11px
  .tiles-block__buttons
    font-size: 9px 


  .section-tilesrow
  .tilesrow-catalog
    width: 555px
  .tilesrow-sidebar
    margin-right: 10px
    width: 198px
    flex: 0 0 198px
  .tilesrow-sidebar__button
    width: 99%
    padding: 9px 0px
    border: 2px solid $accent
    font-size: 17px
    margin-bottom: 15px
  .tilesrow-wrapper
    padding-bottom: 70px
  


  .tilesrow-catalog__settings
    padding: 15px 5px
    display: flex
    background: #7697ac
    box-shadow: 0px 0px 60px rgba(#000, .1)
    select
      background: transparent
      border: 1px solid #fff
      color: #fff
      margin-left: 0px
      text-transform: uppercase
      font-size: 9px
      outline: none
      align-self: flex-start
      option
        background: #7697ac
        outline: none
    
  

  .tilesrow-block
    width: 515px
  .tilesrow-block__img
    width: 135px
    height: 135px
    img
      width: 135px
      height: 135px
      box-shadow: 15px 15px 0px rgba(#fff, .5) 
  .tilesrow-block__title
    font-size: 13px
    height: 50px
  .tilesrow-block__manufacturer
    font-size: 14px
    .manufacturer-img
      min-height: 35px
      img
        max-width: 89px
        max-height: 35px
  .tilesrow-block__code
    font-size: 14px
    margin-top: 4px
  .tilesrow-block__description
    margin-top: 10px
    margin-bottom: 13px
    font-size: 13px
    width: 330px
  .tilesrow-block__buttons
    height: 35px
    width: 325px
    font-size: 14px
    .buttons-first
      width: 150px
      padding: 5px 0px
    .buttons-second
      width: 150px
      padding: 5px 0px
  
  .section-tilescouches
    .tilescouches-sidebar
      margin-right: 10px
      width: 200px
      flex: 0 0 200px
    .tilescouches-sidebar__button
      width: 99%
      padding: 9px 0px
      border: 2px solid $accent
      font-size: 17px
      margin-bottom: 15px
    



    .tilescouches-catalog
    .tilescouches-catalog__cards
      display: flex
      flex-wrap: wrap
      justify-content: space-around
    .tilescouches-block
      position: relative
      width: 170px
      height: 155px
      margin-bottom: 20px
      &:hover::before
    .tilescouches-block__bg-img
      width: 170px
      height: 155px
      img
        width: 170px
        height: 155px
      &:after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba($accent, .75)
    .tilescouches-block__info
      color: #fff
      position: absolute
      bottom: 5px
      left: 12px
    .info-title
      width: 146px
      box-sizing: border-box
      text-transform: uppercase
      +font('FuturaMediumC', 500, 10px)
      text-align: center
      border: 1px solid #fff
      padding: 4px 10px
    .info-more
      font-size: 10px
      margin-top: 3px
    .tilescouches-block__img
      position: absolute
      top: 15px
      left: 37px
      width: 100px
      height: 64px
      img
        width: 100px
        height: 64px

  .section-dixion
    .dixion-top
      display: flex
      justify-content: space-between
      margin-top: 40px
      margin-bottom: 40px
    .dixion-logo
      margin-top: 0px
      min-height: 106px
      img
        display: block
        width: 100%
      & > div
        max-width: 270px
        max-height: 106px
        &:before
          content: ""
          position: absolute
          top: 14px
          left: 14px
          width: 100%
          height: 100%
          border: 1px solid #3392bc
          transition-duration: 0.2s
    .dixion-text
      font-size: 15px
      width: 455px
      line-height: 1.5


    .dixion-block
      width: 220px
      height: 201px
      margin-bottom: 30px
    .dixion-blocks
      padding-bottom: 0px
    .dixion-block__bg-img
      width: 220px
      height: 201px
      img
        width: 220px
        height: 201px
    .dixion-block__img
      position: absolute
      top: 17px
      left: 55px
      width: 125px
      height: 80px
      img
        width: 125px
        height: 80px
    .dixion-block__info
      bottom: 8px
      left: 15px
      .info-title
        font-size: 12px
        padding: 5px 3px
        width: 190px
      .info-more
        font-size: 10px
    .dixion-wrapper
      padding-bottom: 30px

  .section-search
  .search-page
    .h3-page
      color: #000
      font-size: 16px
      padding: 30px 0px 10px 0px
      text-transform: none
      letter-spacing: 2px
  .search-title
    text-align: center
    position: relative
    .line
      overflow: hidden
      text-align: center
      text-transform: uppercase
      letter-spacing: 3px
      color: $accent
    .line-text 
      display: inline-block
      position: relative
      padding: 0 10px
      vertical-align: middle
    .line-text:before,
    .line-text:after
      content: ""
      position: absolute
      top: 50%
      width: 5000px
      height: 2px
      margin: -1px 0 0
      background: $accent
    .line-text:before 
      right: 100%
    .line-text:after 
      left: 100%
  

  .search-sidebar
    margin-right: 10px
    width: 198px
    flex: 0 0 198px
    .search-sidebar__button
      width: 99%
      padding: 9px 0px
    .search-sidebar__properties
      padding: 7px 10px
      .properties-manufacturer
        .manufacturer-title
          font-size: 16px
        .manufacturer-checkbox
          .control-checkbox
            font-size: 12px
      .properties-other
        .other-title
          font-size: 16px
        .other-checkbox
          .control-checkbox
            font-size: 12px
      .properties-range
        .range-title
          font-size: 15px
        .range-range
          width: 171px
          input
            width: 40px
            padding: 1px
      .properties-filter
        width: 138px
          

        

  .search-wrapper
    margin-top: 20px
    padding-bottom: 90px

  .search-catalog
    width: 555px
    .search-catalog__settings
      padding: 15px 5px
      display: flex
      background: #7697ac
      box-shadow: 0px 0px 60px rgba(#000, .1)
      select
        background: transparent
        border: 1px solid #fff
        color: #fff
        margin-left: 0px
        text-transform: uppercase
        font-size: 9px
        outline: none
        align-self: flex-start
        option
          background: #7697ac
          outline: none
      

    .search-block
      width: 515px
    .search-block__img
      width: 135px
      height: 135px
      img
        width: 135px
        height: 135px
        box-shadow: 15px 15px 0px rgba(#fff, .5) 
    .search-block__title
      font-size: 13px
      height: 50px
    .search-block__manufacturer
      font-size: 14px
      .manufacturer-img
        min-height: 26px
        img
          max-width: 65px
          max-height: 26px
    .search-block__code
      font-size: 14px
    .search-block__description
      margin-top: 10px
      margin-bottom: 13px
      font-size: 13px
      width: 330px
    .search-block__buttons
      height: 35px
      width: 325px
      font-size: 14px
      .buttons-first
        width: 150px
        padding: 5px 0px
      .buttons-second
        width: 150px
        padding: 5px 0px

  .smart-filter
    width: 198px
  .smart-filter-title
    font-size: 15px
  .smart-filter-parameters-box-title
    font-size: 11px
  .smart-filter-checkbox-text
    font-size: 13px
    line-height: 1.2


@media only screen and (max-width: 780px) 
  .container
    width: 320px
  .section-slider
    display: none
  .section-header
    height: 180px
    .drop-down-menu
      background: rgba($accent, .5)
      display: none
      color: #fff
      white-space: nowrap
      li
        padding: 10px 0px
        border-bottom: 1px solid #fff
        &:last-child
          border: none
        a
          text-transform: uppercase
          color: #fff
    .menu
      display: none
    .menu-wrapper
      top: 106px
      left: 50%
      margin-left: -174px
      position: fixed
    .menu-wrapper-bg
      top: 106px
      height: 75px
      position: fixed
    .menu-wrapper-bg-mobile
      top: 106px
      height: 75px
      position: fixed
      display: block
      width: 100%
      background: $accent
      z-index: 1000
    .menu-wrapper-fixed
      top: 106px
      margin-left: -174px
    .dn-menu
      display: flex
      justify-content: space-between
      padding: 15px 0px
      position: relative
    .dn-menu__vertline
      position: absolute
      height: 42px
      width: 1px
      background: #fff
      top: 15px
      left: 167px
    .dn-menu__twobuttons
      display: flex
      flex: 1 0 auto
      .dn-menu__hamb
        width: 42px
        height: 42px
        border: 1px solid #fff
        position: relative
        margin-right: 10px
        display: block
        span
          width: 23px
          height: 2px
          background: #fff
          position: absolute
          top: 19px
          left: 13px
          &:after, &:before
            content: ''
            width: 27px
            height: 2px
            background: #fff
            position: absolute
            top: 19px
            left: 7px
          &:after
            width: 30px
            top: -8px
            left: -7px
          &:before
            width: 16px
            top: 8px
            left: 7px
        &:hover  

    .dn-menu__onebutton
    .dn-menu__basket
      display: block
      width: 42px
      height: 42px
      border: 1px solid #fff
      text-align: center
      color: #fff
      line-height: 3.3

      img
        width: 20px
        height: 24px
    .dn-menu__search
      position: relative
      font-size: 18px
      .fas
        position: absolute
        transition: all .2s linear
        top: 1px
        left: 13px
        color: #fff
        width: 43px
        height: 42px
      input
        width: 44px
        height: 44px
        background: transparent
        border: 1px solid #fff
        outline: none
        color: #fff
        box-sizing: border-box
        font-size: 17px
        padding-left: 7px
        padding-right: 47px
    
    .top-line
      display: none
    .top-line__email
      padding: 18px 9px 0px 16px
    .bottom-line__search
      display: none


    .bottom-line__logo
      text-align: center
    .bottom-line__dn-tel
      display: flex
      justify-content: space-around
      font-size: 18px
      padding: 8px 0px
      .dn-tel-first
        color: $accent
        font-weight: bold
      .dn-tel-second
        color: #000
      .dn-tel-icon
        padding-top: 3px
        box-sizing: border-box
        img
          width: 20px
          height: 20px
    .bottom-line
      height: 106px
      z-index: 1001
      position: fixed
      top: 0
      left: 50%
      margin-left: -173px
    .bottom-line-bg
      background: #fff
      width: 100%
      height: 106px
      top: 0
      z-index: 1000
      position: fixed
      display: block
    .bottom-line-wrapper
      flex-direction: column

  .section-direction
    .direction-title
      display: none
    .direction-thousands
      display: none
    .dn-direction-wrapper
      display: block
      padding: 20px 0px
    .dn-direction-button
      display: block
      text-transform: uppercase
      text-align: center
      border: 2px solid $accent
      color: $accent
      background: transparent
      padding: 13px 20px
      font-size: 17px
      &:hover
        color: #fff
        background: $accent
        transition: all .5s ease
    .direction-card
      height: 200px
      .direction-card__catalog
          height: 200px
          line-height: 7.5
          font-size: 28px
      .direction-card-wrapper
        width: 320px
        height: 200px
        .direction-card-content
          width: 300px
          height: 180px
        .icon-1
          bottom: 45px
          right: 25px
        .icon-2
          bottom: 44px
          right: 6px
        .icon-3
          bottom: 42px
          right: 21px
        .icon-4
          bottom: 53px
          right: 1px
        .icon-5
          bottom: 31px
          right: -7px
        .icon-6
          bottom: 38px
          right: -5px
        .icon-7
          bottom: 46px
          right: 0px
        .icon-8
          bottom: 45px
          right: 3px
        .icon-9
          bottom: 39px
          right: -10px
        .icon-10
          bottom: 18px
          right: 11px
        .icon-11
          bottom: 36px
          right: 0px
        .icon-12
          bottom: 37px
          right: -11px
        .icon-13
          bottom: 40px
          right: -12px
        .icon-14
          bottom: 42px
          right: 5px
        .icon-15
          bottom: 38px
          right: -18px
        .icon-16
          bottom: 38px
          right: 11px
        .icon-17
          bottom: 40px
          right: 0px
        .icon-18
          bottom: 13px
          right: -13px
        .icon-19
          bottom: 43px
          right: 1px
        .icon-20
          bottom: 44px
          right: -4px
        .direction-card-content__icon
          img
            width: 85%



  
  .section-advantages
    display: none
  .section-request
    display: none
  .section-manufact
    display: none
  .section-twoblocks
    height: 555px
    .twoblocks
      flex-direction: column
      .twoblocks-block
        margin-top: 50px
        width: 100%
        height: 205px
    .twoblocks-block__bgwoman
      width: 300px
      img
        width: 320px
        height: 205px
      &:after
        height: 205px
        width: 320px
    .twoblocks-block__content
      top: 100px
      right: 26px
      width: 130px
      .twoblocks-block__title
        font-size: 14px
        width: 70px
      .twoblock-block__button
        width: 100px
        padding: 4px 10px
        white-space: nowrap
        font-size: 15px
    .twoblocks-block__woman
      width: 120px
      top: -32px
      left: 18px
      img
        width: 120px
    .twoblocks-block__bgcupboard
      width: 300px
      img
        width: 320px
        height: 205px
      &:after
        height: 205px
        width: 320px
    .twoblocks-block__cupboard
      width: 120px
      top: -18px
      left: 19px
      img
        width: 120px
        height: 223px
    


  .section-map
    box-shadow: 0px 0px 280px 0px rgba(#000, .15) inset
    .section-inner 
      background: 0
    .map-title
      .line
        margin-bottom: 0px
      .line-text
        margin-top: 35px
    .map-block
      width: 320px
    .map-block-wrapper
      width: 320px
    .map-block-titleside
    .map-block__title
      font-size: 22px
    .map-block__tel
      font-size: 22px
    .map-block__address
      font-size: 15px
      .fas
        font-size: 20px
        top: 2px
        left: -26px
    .contacts-tel
      .fa-phone
        top: 2px
        left: -30px



  .section-footer
    background: #e7e7e7
    .footer-logo
      display: block
      bottom: 0
      left: 20px
    .footer-fourblocks
      justify-content: center
      text-align: center
    .dn-item
      display: block
    .soc-bottomblock__button
      font-size: 18px
      padding: 7px 17px
      margin-top: 6px
    .fourblocks-company
      text-align: center
      margin-bottom: 75px
      margin-top: 15px
      ul
        li
          a
            font-size: 22px
            text-transform: uppercase
            color: #000
    .fourblocks-specializations, .fourblocks-directions, .fourblocks-last
      display: none
    




  .section-contacts
    .contacts-wrapper
      width: 100%
      background: #fff
      box-shadow: 0 0 80px 0 rgba(0,0,0,.2)
      position: relative
    .contacts-block
      width: 320px
      height: 336px
      box-shadow: none
      padding: 20px 0px
      margin:
        left: auto
        right: auto
        bottom: 0px
    .contacts-block-wrapper
      padding: 0px
      border: none
      a
        font-size: 12px
    .contacts-block__list-1
      li
        margin-top: 2px
        div
          font-size: 12px
    .contacts-block__list-2
      text-align: right
      li
        margin-top: 2px
        div
          font-size: 12px
    .contacts-vertline-1, .contacts-vertline-2
      width: 100%
      height: 1px
      background: $accent
      position: absolute
    .contacts-vertline-1
      bottom: 26px
    .contacts-vertline-2
      top: 26px
    .contacts-page
      .h3-page
        margin-top: 15px
        text-align: center
    .contacts-title
      display: none
    .dn-contacts-wrapper
      display: block
      padding: 20px 0px
    .dn-contacts-button
      display: block
      text-transform: uppercase
      text-align: center
      border: 2px solid $accent
      color: $accent
      background: transparent
      padding: 13px 20px
      font-size: 17px
      &:hover
        color: #fff
        background: $accent
        transition: all .5s ease

  .section-delivery
    background: #fcfcfc
    .delivery-wrapper
      background: #fff
      padding-bottom: 10px
      box-shadow: 0px 70px 80px rgba(#000, .05)
    .delivery
      width: 320px
      height: 878px
      padding: 0
      position: relative
      margin-top: 20px
      box-shadow: none
      margin-bottom: 50px
    .delivery-block
      padding:
        top: 70px
        left: 0
        right: 0
        bottom: 0
      border: none
    .delivery-block__text
      padding: 0
      text-align: left
    .delivery-title
      display: none
    .delivery-block__texttitle
      display: block
      position: absolute
      top: 15px
      left: 72px
      +font('FuturaDemiC', 600, 17px)
      color: $accent
    .dn-delivery-wrapper
      display: block
    .dn-delivery-button
      display: block
      text-transform: uppercase
      text-align: center
      border: 2px solid $accent
      color: $accent
      background: transparent
      padding: 13px 20px
      font-size: 17px
      &:hover
        color: #fff
        background: $accent
        transition: all .5s ease
    .delivery-page
      .h3-page
        text-align: center
        margin: 0px
        padding: 20px 0px

  .section-form
    .form-block__title
      font-size: 14px
    .form-title
      display: none
    .form-block
      width: 100%
      position: relative
      padding: 100px 0px 55px 0px
    .dn-form-wrapper
      display: block
      padding: 20px 0px 0px 0px
    .dn-form-button
      display: block
      text-transform: uppercase
      text-align: center
      border: 2px solid $accent
      color: $accent
      background: transparent
      padding: 13px 20px
      font-size: 17px
      &:hover
        color: #fff
        background: $accent
        transition: all .5s ease
    .form-page 
      padding:
        top: 20px
        bottom: 0px
      .h3-page
        text-align: center
    .form-wrapper
      background: #fff
      margin-bottom: 0px
      box-shadow: 0px 70px 70px rgba(#000, .1)
    .form-block__title
      text-transform: uppercase
      display: block
      color: #000
      font-size: 15px
      position: absolute
      top: 5px
      left: 0
      text-align: center
    .form-block__inputs
      textarea
        height: 150px
    .form-block__bottom
      .checkbox
        label
          font-size: 14px

  .section-company
    .company-blocks
      justify-content: center
      flex-wrap: wrap
      padding:
        top: 25px
        bottom: 20px
    .company-title
      display: none
    .company-page
      .h3-page
        text-align: center
        font-size: 18px
        padding: 30px 0px 0px 0px
    .dn-company-wrapper
      display: block
      padding: 20px 0px
      .dn-company-button
        display: block
        text-transform: uppercase
        text-align: center
        border: 2px solid $accent
        color: $accent
        background: transparent
        padding: 13px 20px
        font-size: 17px
        &:hover
          color: #fff
          background: $accent
          transition: all .5s ease

  .section-geography
    display: none

  .company-html
    display: block
    background: #e6edef
    border-bottom: 35px solid #ececec
    .advantages-threeblocks
      justify-content: center
      flex-wrap: wrap
    .advantages-block:first-child
    .advantages-block:nth-child(2)
      margin-top: 0
    .advantages-block:last-child
      margin-top: 33px
      margin-bottom: 28px
    
  .section-basket
    .basket-title
      display: none
    .basket
      padding-bottom: 60px
      box-shadow: 0px -140px 80px rgba(#000, .05) inset
    .basket-block
      flex-direction: column
      background: #efefef
      box-shadow: 0px 0px 118px 40px rgba(#000, .10)
    .basket-blocks
      margin-bottom: 0px
    .basket-button
      display: block
      margin-left: auto
      margin-right: auto
      background: #005487
      letter-spacing: 2px
      text-transform: uppercase
      width: 320px
      color: #ffffff
      font-size: 14px
      text-align: center
      padding: 10px 5px
    .basket-block-wrapper
      box-shadow: none
      background: none
      margin-top: 5px
      margin-bottom: 25px
    .dn-basket-wrapper
      display: block
      padding: 0px 0px 20px 0px
      .dn-basket-button
        display: block
        text-transform: uppercase
        text-align: center
        border: 2px solid $accent
        color: $accent
        background: transparent
        padding: 13px 20px
        font-size: 17px
        &:hover
          color: #fff
          background: $accent
          transition: all .5s ease
    .basket-page
      text-align: center
    .basket-block__img
      margin-top: 50px
      margin-left: 35px
      margin-bottom: 40px
      margin-right: 0
    .basket-block__info
      width: 100%
      margin: 0
      .info-manufacturer
        display: none
      .info-quantity
        display: none
      .info-title
        width: 100%
        padding: 0
        border: none
        font-size: 19px
        margin-bottom: 15px
        height: 110px 
      .info-close
        right: -3px
        top: -328px
        
  .section-news
    background: #fcfcfc
    .h1-block
      padding-top: 10px
      padding-bottom: 10px
    .news-block__img
      width: 225px
      height: 150px
      img
        width: 225px
        height: 150px
    .news-wrapper
      margin-bottom: 20px
      margin-top: 10px
      background: #fff
      padding-top: 0px
      padding-bottom: 20px
    .news-block__images
      display: none
    .news-block
      position: relative
      padding-bottom: 65px
      padding-top: 20px
    .news-page
      text-align: center
      .h3-page
        padding-top: 20px
    .news-block__date
      position: absolute
      bottom: 20px
      right: 0
    .dn-news-wrapper
      display: block
      padding-bottom: 10px
      padding-top: 15px
      .dn-news-button
        display: block
        text-transform: uppercase
        text-align: center
        border: 2px solid $accent
        color: $accent
        background: transparent
        padding: 13px 20px
        font-size: 17px
        &:hover
          color: #fff
          background: $accent
          transition: all .5s ease
    p
      font-size: 16px
      text-align: left
    h2, h3, h4
      text-align: center
    
  .section-newslist
    .h1-block
      padding-bottom: 20px
      padding-top: 0px
    .newslist-wrapper
      padding-bottom: 0px
      background: #fff
    .newslist-block
      width: 320px
      padding: 0
      box-shadow: none
      padding-top: 23px
      padding-bottom: 7px
    .newslist
      padding: 0
    .newslist-block-right
      display: none
    .newslist-block__date
      bottom: 16px
      bottom: 74px
    .newslist-block-wrapper
      border-bottom: 30px solid #ebebeb
    .newslist-block-left
      .left-title
        font-size: 18px
        text-align: center
        h2
          font-size: 18px
      .left-text
        width: 100%
        font-size: 17px
      .left-button
        width: 100%
        font-size: 15px
        margin-left: auto
        margin-right: auto
        margin-top: 55px
    .newslist-block-right


  .section-reviews
    .reviews-block
      width: 320px
      padding: 0px
      box-shadow: none
      padding: 30px 0px
    .reviews-blocks-rightside
      .rightside-text
        font-size: 14px
    .reviews-blocks-rightside
      .rightside-title
        margin: 0
        font-size: 18px
        text-align: center
        span
          display: none
    .reviews-block-leftside
      display: none
    .reviews-blocks
      padding-bottom: 0px
    .reviews-block-nested
      border: none
    .reviews-block-wrapper
      background: #fff
      margin-bottom: 30px
      box-shadow: 0px 0px 80px rgba(#000, .1)
    .reviews-title
      display: none
    .dn-reviews-wrapper 
      display: block
      padding: 0px 0px 0px 0px
      .dn-reviews-button
        display: block
        text-transform: uppercase
        text-align: center
        border: 2px solid $accent
        color: $accent
        background: transparent
        padding: 13px 20px
        font-size: 17px
        &:hover
          color: #fff
          background: $accent
          transition: all .5s ease
    .reviews-page
      .h3-page
        text-align: center

    
  .section-stockitem
    background: #fcfcfc
    .h1-block
      padding-top: 15px
      padding-bottom: 10px
    .stockitem-block__img
      width: 225px
      height: 150px
      img
        width: 225px
        height: 150px
    .stockitem-wrapper
      margin-bottom: 20px
      margin-top: 10px
      background: #fff
      padding-top: 0px
      padding-bottom: 20px
      background: url('../img/@2x/bg-stockitem.jpg') no-repeat
      background-size: cover
    .stockitem-block__images
      display: none
    .stockitem-block
      position: relative
      padding-bottom: 30px
      padding-top: 30px
    .stockitem-page
      text-align: center
      .h3-page
        padding-top: 20px
    .stockitem-block__date
      position: absolute
      bottom: 20px
      right: 0
    .dn-stockitem-wrapper
      display: block
      padding-bottom: 10px
      padding-top: 15px
      .dn-stockitem-button
        display: block
        text-transform: uppercase
        text-align: center
        border: 2px solid $accent
        color: $accent
        background: transparent
        padding: 13px 20px
        font-size: 17px
        &:hover
          color: #fff
          background: $accent
          transition: all .5s ease
    .stockitem-block__text1
      font-size: 16px
      text-align: left
    .stockitem-block__text2
      font-size: 16px
      text-align: left
    .stockitem-block__title
      text-align: center
    

  .section-stock
    .h1-block
      padding-top: 0px 
    .stock-block-leftside
      display: none
    .stock-page
      text-align: center
    .stock-title
      display: none
    .stock-block-wrapper
    .dn-stock-wrapper
      display: block
      padding: 0px 0px 20px 0px
      .dn-stock-button
        display: block
        text-transform: uppercase
        text-align: center
        border: 2px solid $accent
        color: $accent
        background: transparent
        padding: 13px 20px
        font-size: 17px
        &:hover
          color: #fff
          background: $accent
          transition: all .5s ease
    .stock-block-rightside
      padding: 0
      .rightside-title
        font-size: 17px
        text-align: center
        h2
          font-size: 18px
      .rightside-text
        font-size: 15px
      .rightside-button
        width: 99%
        font-size: 15px
        margin-top: 20px
        border: 1px solid $accent
    .stock-wrapper
      padding-bottom: 70px
    .stock-block-wrapper:first-child
      background: url('../img/@2x/bg-stock.jpg') no-repeat
      background-size: cover
    .stock-block-wrapper:last-child
      background: url('../img/@2x/bg-stock-1.jpg') no-repeat
      background-size: cover
    .stock-block-wrapper
      box-shadow: 0px 0px 90px rgba(#000, .2)


  .section-service
    .service-title-second
      display: block
      font-size: 16px
      text-transform: uppercase
      color: #005990
      text-align: center
      letter-spacing: 2px
    .dn-service-wrapper
      display: block
      padding: 0px 0px 20px 0px
      .dn-service-button
        display: block
        text-transform: uppercase
        text-align: center
        border: 2px solid $accent
        color: $accent
        background: transparent
        padding: 13px 20px
        font-size: 17px
        &:hover
          color: #fff
          background: $accent
          transition: all .5s ease
    .service-title
      display: none
    .service
      box-shadow: 0px 60px 80px rgba(#000, .07)
    .service-block
      box-shadow: 0px 0px 80px rgba(#000, .1)
      padding: 25px
      margin-top: 17px
    .service-block__text
      font-size: 16px
    .service-cards-title
      +font('FuturaDemiC', 600, 16px)
      margin-top: 40px
      text-align: center
    .service-cards
      padding-top: 30px
      padding-bottom: 10px
      justify-content: center
    .service-card
      position: relative
      box-shadow: 0px 0px 80px rgba(#000, .12)
      margin-bottom: 40px
      width: 320px
      height: 320px
    .service-card__img
      width: 316px
      height: 220px
      box-shadow: 0px 50px 50px rgba(#000, .05)
      border: 2px solid $accent
      img
        max-width: 240px
        max-height: 170px
    .service-card__bottom
      .bottom-title
        text-align: center
        +font('FuturaDemiC', 600, 14px)
        text-transform: uppercase
        padding: 10px
        border: 2px solid $accent
        border-top: 1px solid $accent
        height: 100px
        width: 320px
        box-sizing: border-box

  .section-commodity
    .commodity-block-img
      flex: 0 0 300px
      img
        width: 300px
        height: 300px
    .commodity-quantity__buttons
      padding: 15px 0px 0px 0px
    .commodity-block
      display: block
    .commodity-title
      .line
        font-size: 19px
    .commodity-block__info
      margin-left: 0px
      .commodity-manufacturer
        width: 322px
      .commodity-quantity
        width: 320px
      .commodity-title
        font-size: 14px
        width: 317px
      .commodity-text
        font-size: 11px
      .commodity-buttons
        font-size: 16px
        display: block
        letter-spacing: 2px
        .commodity-buttons__first
          width: 100%
        .commodity-buttons__second
          width: 100%
        .commodity-buttons__third
          width: 100%
          display: none
      .commodity-manufacturer__title
        font-size: 17px
      .commodity-quantity__title
        font-size: 17px
    .commodity-manufacturer__img
      min-height: 47px
      img
        max-width: 135px
        max-height: 47px
    .commodity-table
      flex-wrap: wrap
      .commodity-table-block
        padding: 5px 8px
        font-size: 15px
        width: 100%
        margin: 0 auto

      .commodity-table-block:nth-child(2)
        border-left: 1px solid $accent
        margin-top: 10px
        


  .section-postcommodity
  .postcommodity-blocks
  .postcommodity-wrapper
    margin-bottom: 30px
    padding-bottom: 30px
    box-shadow: 0px 60px 80px rgba(#000, .1)
  .postcommodity-block
    width: 320px
    padding: 15px
    margin-bottom: 30px
  .postcommodity-block__img
    width: 270px
    height: 270px
    img
      width: 270px
      height: 270px
      box-shadow: 15px 15px 0px rgba(#fff, .5) 
  .postcommodity-title
    .line
      font-size: 19px
  .postcommodity-block__title
    font-size: 20px
    margin-top: 25px
    height: 108px
  .postcommodity-block__manufacturer
    .manufacturer-title
      font-size: 18px
      line-height: 1.65
    .manufacturer-img
      min-height: 41px
      img
        max-width: 105px
        max-height: 41px
  .postcommodity-block__code
    font-size: 18px
  .postcommodity-block__buttons
    font-size: 13px
    .buttons-first
      width: 143px
    .buttons-second
      width: 143px 
    
  .section-tiles
  .tiles-wrapper
    box-shadow: 0px 60px 70px rgba(#000, .05)
    padding-bottom: 50px
  .tiles-title
    display: none
  .tiles-catalog
    display: block
    width: 320px
  .tiles-catalog__settings
    display: none
  .tiles-flex
    flex-wrap: wrap
  .tiles-sidebar
    margin-right: 0px
    width: 100%
    flex: 0 0 100%
    margin-bottom: 20px
  .tiles-sidebar__button
    display: block
  .accordion-wrapper 
    .accordion-title
      font-size: 16px
  .tiles-block
    width: 320px
    padding: 15px
    margin-bottom: 30px
  .tiles-block__img
    width: 270px
    height: 270px
    img
      width: 270px
      height: 270px
      box-shadow: 15px 15px 0px rgba(#fff, .5) 
  .tiles-title
    .line
      font-size: 19px
  .tiles-block__title
    font-size: 20px
    margin-top: 25px
    height: 108px
  .tiles-block__manufacturer
    .manufacturer-title
      font-size: 18px
      line-height: 1.65
    .manufacturer-img
      min-height: 41px
      img
        max-width: 105px
        max-height: 41px
  .tiles-block__code
    font-size: 18px
  .tiles-block__buttons
    font-size: 13px
    .buttons-first
      width: 143px
    .buttons-second
      width: 143px 



  .section-tilesrow
  .tilesrow-wrapper
    box-shadow: 0px 60px 70px rgba(#000, .05)
    padding-bottom: 50px
  .tilesrow-title
    display: none
  .tilesrow-catalog
    display: none
  .tilesrow-catalog__settings
  .tilesrow-flex
    flex-wrap: wrap
  .tilesrow-sidebar
    margin-right: 0px
    width: 100%
    flex: 0 0 100%
    margin-bottom: 20px
  .tilesrow-sidebar__button
    display: block
  .accordion-wrapper 
    .accordion-title
      font-size: 16px
    .accordion:nth-child(16)
      .accordion-title
        padding-top: 12px
    .accordion:nth-child(18)
      .accordion-title
        padding-top: 12px
    .accordion:nth-child(9)
      .accordion-title
        padding-top: 12px

  .section-tilescouches
    .tilescouches-wrapper
      box-shadow: 0px 60px 70px rgba(#000, .05)
      padding-bottom: 50px
    .tilescouches-title
      display: none
    .tilescouches-catalog
      display: block
    .tilescouches-catalog__settings
    .tilescouches-flex
      flex-wrap: wrap
    .tilescouches-sidebar
      margin-right: 0px
      width: 100%
      flex: 0 0 100%
      margin-bottom: 20px
    .tilescouches-sidebar__button
      display: block
      width: 100%
    .accordion-wrapper 
      .accordion-title
        font-size: 16px
      .accordion:nth-child(16)
        .accordion-title
          padding-top: 12px
      .accordion:nth-child(18)
        .accordion-title
          padding-top: 12px
      .accordion:nth-child(9)
        .accordion-title
          padding-top: 12px


  .section-dixion
    .dixion-title
      .line
        font-size: 18px
    .dixion-top
      display: block
      margin-top: 40px
      margin-bottom: 40px
    .dixion-logo
      margin-top: 35px
      min-height: 126px
      img
        display: block
        width: 100%
      & > div
        max-width: 320px
        max-height: 126px
        &:before
          content: ""
          position: absolute
          top: 15px
          left: 15px
          width: 100%
          height: 100%
          border: 1px solid #3392bc
          transition-duration: 0.2s
    .dixion-text
      font-size: 15px
      width: 100%
      line-height: 1.5
      margin-top: 60px
      text-align: center


    .dixion-block
      width: 320px
      height: 293px
      margin-bottom: 50px

    .dixion-block__bg-img
      width: 320px
      height: 293px
      img
        width: 320px
        height: 293px
    .dixion-block__img
      position: absolute
      top: 22px
      left: 71px
      width: 180px
      height: 115px
      img
        width: 180px
        height: 115px
    .dixion-block__info
      bottom: 9px
      left: 15px
      .info-title
        font-size: 20px
        width: 290px
      .info-more
        font-size: 15px
    .dixion-wrapper
      padding-bottom: 0px

  .section-search
  .search-wrapper
    box-shadow: 0px 60px 70px rgba(#000, .05)
    padding-bottom: 50px
  .search-title
    display: none
  .search-catalog
    display: block
  .search-catalog__settings
    display: none
  .search-flex
    flex-wrap: wrap
  .search-sidebar__button
    display: block
  .search-sidebar__list
    .main-list
      & > li
        font-size: 16px
  .search-block
    width: 320px
    padding: 15px
    margin-bottom: 30px
  .search-block__img
    width: 270px
    height: 270px
    img
      width: 270px
      height: 270px
      box-shadow: 15px 15px 0px rgba(#fff, .5) 
  .search-title
    .line
      font-size: 19px
  .search-block__title
    font-size: 20px
    margin-top: 25px
    height: 108px
  .search-block__manufacturer
    .manufacturer-title
      font-size: 18px
      line-height: 1.65
    .manufacturer-img
      min-height: 41px
      img
        max-width: 105px
        max-height: 41px
  .search-block__code
    font-size: 18px
  .search-block__buttons
    font-size: 13px
    .buttons-first
      width: 143px
    .buttons-second
      width: 143px 


  .search-sidebar
    margin-right: 0px
    width: 100%
    flex: 0 0 100%
    margin-bottom: 20px
    .search-sidebar__properties
      padding: 7px 30px
      .properties-manufacturer
        .manufacturer-title
          font-size: 18px
        .manufacturer-checkbox
          .control-checkbox
            font-size: 14px
      .properties-other
        .other-title
          font-size: 18px
        .other-checkbox
          .control-checkbox
            font-size: 14px
      .properties-range
        text-align: center
        .range-title
          font-size: 18px
        .range-range
          width: 185px
          margin-left: auto
          margin-right: auto
          input
            width: 40px
            padding: 1px
      .properties-filter
        width: 138px
        margin-top: 50px
  

  .accordion-wrapper
    .accordion
      width: 100%

  .section-tiles,.section-tilescouches,.section-direction
    .direction-cards .tilescouches-catalog__cards
      display: none

  #returncall
    width: 100%
    .modal-footer
      .error
        line-height: 1
        margin-top: 15px
  #gkpmodal
    .form-block__bottom




    














































