@import "_fonts.sass"
@import "_vars.sass"
@import "_libs.sass"
@import "_constructor.sass"

*
	padding: 0
	margin: 0

.container
	margin: 0 auto
	width: 1145px 
	padding-left: 15px
	padding-right: 15px
a
	text-decoration: none

.top
	position: fixed
	bottom: 25px
	right: -100px
	background: #e0e0e0
	z-index: 12
	border-radius: 10em
	color: #666666
	font-size: 24px
	width: 60px
	height: 60px
	text-align: center
	line-height: 60px
	cursor: pointer
	transition: all .25s ease
	opacity: .5
	&:hover
		color: #ffffff
		background-color: $accent
		opacity: .9
	&.active
		right: 25px

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 15px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0

	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

.h1, .h2, .h3, .h4, .h5, .h6
	text-transform: uppercase
	line-height: 1.4

li
	list-style-type: none

.text-center
	text-align: center
	
body
	font-size: 16px
	min-width: 320px
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

b, strong
	font-weight: bold
    
	
// Default Styles

// Header

.section-header
	.section-inner
	.top-line
		position: relative
		color: $dark
		&:after
			content: ''
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			box-shadow: 0px 0px 25px rgba(#000, .15)
	.top-line__menu
		display: flex
		z-index: 10
		li
			padding: 16px 15px
			a
				color: $dark
				font-size: 16px
				&:hover
					color: $accent
	.top-line-wrapper
		display: flex
		justify-content: space-around
		background: #fff
	.top-line__city
		font-size: 14px
		color: $accent
		+font1('FuturaDemiC', 600)
		padding: 18px 5px
		z-index: 10
		position: relative
		.fas
			position: absolute
			font-size: 16px
			left: -15px
		a
			padding: 0px 20px 0px 0px
	.tel-icon
		position: absolute
		left: -40px
		top: 0
		font-size: 16px
		padding: 18px 0px 18px 15px
		color: $accent
	.top-line__tel
		z-index: 10
		position: relative
		font-size: 14px
		padding: 7px 7px	
	.top-line__tel-first
		color: $accent
		+font1('FuturaDemiC', 600)
	.top-line__tel-second

	.top-line__email
		z-index: 10
		font-size: 14px
		display: flex
		padding: 18px 10px
		+font1('FuturaDemiC', 600)
		.fas
			color: $accent
			padding-top: 4px
			padding-right: 10px
			font-size: 16px
	.top-line__callback
		display: block
		z-index: 10
		cursor: pointer
		background: $accent
		padding: 10px 26px
		color: #fff
		letter-spacing: 2px
		align-self: flex-start
		text-transform: uppercase
		margin-top: 10px
		font-size: 12px
		&:hover
			box-shadow: 0px 0px 10px rgba(#000, .5)
			transition: all .25s ease
	.bottom-line-wrapper
		display: flex
		justify-content: space-between
	.bottom-line
		background: #fff
	.bottom-line__logo
		display: block
		margin-top: 10px
		img
			width: 400px
	.bottom-line__dn-tel
		display: none
	.bottom-line__search
		display: flex
		margin-top: 20px
		margin-right: 16px
		position: relative
		span
			position: absolute
			right: 200px
			top: 9px
			color: #666
			align-self: flex-start
		input
			background: #e6e6e6
			padding: 12px 15px
			width: 410px
			border: none
			align-self: flex-start
		.bottom-line__basket
			display: block
			color: #000
			padding: 7px 60px 7px 35px
			background: #fff
			box-shadow: 0px 0px 20px rgba(#000, .25)
			align-self: flex-start
			position: relative
			text-transform: uppercase
			letter-spacing: 3px
			cursor: pointer
			.fas
				right: 28px
				top: 9px
				position: absolute
				font-size: 19px
	.menu-wrapper
		background: $accent
	.dn-menu
		display: none
	.drop-down-menu
		display: none
	.menu
		ul
			display: flex
			justify-content: space-around
			li
				padding: 20px 50px
				box-sizing: border-box
				border: 2px solid transparent
				&:hover 
					border-bottom: 2px solid #fff
					transition: all .5s ease
					box-sizing: border-box
				a
					color: #fff
					text-transform: uppercase
					+font('FuturaDemiC', 600, 16px)
					box-sizing: border-box
					&:hover
						transition: all .5s ease
						box-sizing: border-box

// Header_


// Slider

.section-slider
	.section-inner
	.carousel1
	.owl-dots
		position: absolute
		bottom: 8px
		left: 50%
		margin-left: -50px
		.owl-dot.active
			span
				background: $accent
				transform: scale(1.2)
				transition: all .3s ease
		.owl-dot
			span
				background: rgba($accent, .5)
			


	.item
	.slider-item-bg
		background: url("../img/@2x/bg-slider-new-1.png") no-repeat
		background-size: cover
	.left-side
		margin-top: 53px
	.right-side
		width: 75%
	.slider-item
		display: flex
		background-size: cover
		color: #fff
		.slider-item__title-site
			+font('FuturaDemiC', 600, 23px)
			text-transform: uppercase
			letter-spacing: 3px
		.slider-item__title
			margin-top: 15px
			+font1('FuturaDemiC', 600)
			text-transform: uppercase
			letter-spacing: 3px
		.slider-item__post-title
			letter-spacing: 1px
			font-size: 21px
		.slider-item__arguments
			display: flex
			margin-top: 25px
			margin-bottom: 60px
		.yearoffoun
			display: flex
			flex-direction: column
			align-items: center
			margin-left: 50px
			.yearoffoun-icon
				margin-bottom: 15px
				img
					width: 50px
					height: 60px
			.yearoffoun-title
				text-transform: uppercase
				+font('FuturaDemiC', 600, 24px)
				color: #fff
				letter-spacing: 2px
			.yearoffoun-year
				text-transform: uppercase
				+font('FuturaMediumC', 600, 40px)
				color: #1f3d62
				line-height: 1.2

		.ourexp
			display: flex
			flex-direction: column
			align-items: center
			margin-left: 40px
			.ourexp-icon
				width: 50px
				height: 60px
				margin-bottom: 15px
			.ourexp-title
				text-transform: uppercase
				+font('FuturaDemiC', 600, 24px)
				color: #fff
				letter-spacing: 2px
			.ourexp-year
				text-transform: uppercase
				+font('FuturaMediumC', 600, 40px)
				color: #1f3d62
				line-height: 1.2
// Slider_

// Duration

.section-direction
	background: #e6ebed
	.section-inner
	.direction-wrapper
	.direction
	.direction-title
		text-align: center
		position: relative
		color: $accent
		letter-spacing: 2px
		text-transform: uppercase
		.line
			overflow: hidden
			text-align: center
		.line-text 
			display: inline-block
			position: relative
			padding: 0 10px
			vertical-align: middle
			margin-top: 50px
		.line-text:before,
		.line-text:after
			content: ""
			position: absolute
			top: 50%
			width: 5000px
			height: 1px
			margin: -1px 0 0
			background: #000
		.line-text:before 
			right: 100%
		.line-text:after 
			left: 100%
	.direction-thousands
		+font1('FuturaDemiC', 600)
		color: $accent
		text-transform: uppercase
		font-size: 20px
		padding: 6px 15px
		border: 1px solid rgba($accent, .4)
		background: #e6ebed
		text-align: center
		margin: auto
		width: 276px
		white-space: nowrap
		margin-top: 20px
		margin-bottom: 35px
		letter-spacing: 3px
	.dn-direction-wrapper
		display: none
	
	.direction-cards
		display: flex
		flex-wrap: wrap
		justify-content: space-evenly
	.direction-card
		margin-bottom: 20px
		overflow: hidden
		&:hover .direction-card-content
			border: 1px solid #fff
			transition: border .5s ease
	.direction-card-wrapper
		position: relative
		width: 359px
		height: 271px
		&:hover .img-wrapper:after
			background: rgba($accent, .3)
			transition: background .5s ease
	.img-wrapper
		position: absolute
		&:after
			position: absolute
			content: ''
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: rgba(#1d4f84, .90)
			height: 271px
	.direction-card-content
		display: flex
		position: absolute
		z-index: 10
		top: 0
		width: 339px
		height: 251px
		box-sizing: border-box
		margin: auto
		bottom: 0
		left: 0
		right: 0
		border: 1px solid transparent
	.direction-card-content-leftside
		display: flex
		flex-direction: column
		justify-content: space-between
	.direction-card-content__title
		color: #fff
		font-size: 20px
		text-transform: uppercase
		margin-top: 15px
		margin-left: 15px
	.direction-card-content__number
		font-size: 12px
		color: #fff
		text-transform: uppercase
		margin-bottom: 15px
		margin-left: 15px
	.direction-card-content__button
		display: block
		border: 1px solid #fff
		padding: 4px 10px
		width: 145px
		text-align: center
		text-transform: uppercase
		color: #fff
		font-size: 18px
		letter-spacing: 2px
		margin-bottom: 15px
		margin-left: 15px
		cursor: pointer
		&:hover
			color: #000
			background: #fff
			transition: all .5s ease
	.direction-card-content-rightside
		position: absolute
		bottom: 67px
		right: 4px
	.icon-18
		bottom: 51px
		right: -6px
	.direction-card-content__icon
		img
			width: 85%
	.direction-card:last-child
		background: $accent
		margin-bottom: 65px
	.direction-card__catalog
		background: $accent
		letter-spacing: 4px
		text-transform: uppercase
		text-align: center
		color: #ffffff
		font-size: 35px
		line-height: 7.6
		cursor: pointer
		
// Duration


// Advantages
.section-advantages
	background: linear-gradient(45deg, #e7ecee, #f4f8f9)
	border-top: 35px solid #f3f3f3
	.section-inner
	.container
		position: relative
	.advantages-frame
		position: absolute
		top: -65px
		width: 1115px
		left: 24px
		img
			width: 1125px
	.advantages-threeblocks
		display: flex
		justify-content: space-around
		z-index: 10
	.advantages-block
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center
		width: 337px
		z-index: 10
	.advantages-block:first-child
		margin-bottom: 50px
		margin-top: 50px
		.advantages-block__list
			margin-top: 33px
	.advantages-block:last-child
		height: 260px
		margin-top: 40px
	.advantages-block:nth-child(2)
		height: 240px
		margin-top: 40px
	.advantages-block__icon
	.advantages-block__title
		+font('FuturaDemiC', 600, 20px)
		text-transform: uppercase
		color: $accent
		letter-spacing: 2px
	.advantages-block__list
		text-align: left
		margin-top: 15px
		margin-left: 60px
		line-height: 1.25
		li
			list-style-type: disc
			color: $accent
			margin-top: 10px
			span
				font-size: 14px
				text-transform: uppercase
				color: #000
			
// Advantages_

// Request

.section-request
	background: url('../img/@2x/request.png') no-repeat
	background-size: cover
	position: relative
	z-index: 16
	.section-inner
	.request-wrapper
		display: flex
		justify-content: space-between
		position: relative

	.request-title
		+font('FuturaDemiC', 600, 22px)
		text-transform: uppercase
		color: #fff
		margin-bottom: 30px
		margin-top: 35px 
	.request-inputs
		display: flex
		margin-top: 45px
		z-index: 10
		input
			align-self: flex-start
			text-transform: uppercase
			font-size: 14px
			color: #888aa7
			background: #d6d9e2
			width: 240px
			padding: 10px 13px
			border: none
			margin-right: 10px
			&::placeholder
				color: #888aa7
				text-transform: uppercase
	.request-button
		display: block
		align-self: flex-start
		white-space: nowrap
		padding: 6px 20px
		text-align: center
		background: $accent
		cursor: pointer
		text-transform: uppercase
		font-size: 14px
		color: #fff
		&:hover
			box-shadow: 0px 0px 10px rgba(#000, .25)
	.request-computer
		position: absolute
		right: 0
		top: -28px
		img
			width: 200px

// Request_


// Manufacts

.section-manufact
	.section-inner
	.manufact-title
		position: relative
		text-align: center
		.line
			overflow: hidden
			text-align: center
			margin-top: 35px
		.line-text 
			display: inline-block
			position: relative
			padding: 0 10px
			vertical-align: middle
			text-transform: uppercase
			font-size: 22px
			color: $accent
			letter-spacing: 3px
		.line-text:before,
		.line-text:after
			content: ""
			position: absolute
			top: 50%
			width: 5000px
			height: 2px
			margin: -1px 0 0
			background: $accent
		.line-text:before 
			right: 100%
		.line-text:after 
			left: 100%
	
	.manufacts
	.manufacts-blocks
		display: flex
		flex-wrap: wrap
		justify-content: space-around
	.manufact-block
		margin-top: 50px
		padding-left: 10px
		padding-right: 10px
		&:last-child
			margin-bottom: 130px
	.manufact-block__img
		background-image: url('../img/@2x/philips-grey-new.png')
		background-size: 184px 37px
		background-size: center
		width: 184px
		height: 37px 
		img
			width: 184px
			height: 37px
		&:hover
			background-image: url('../img/@2x/philips-new.png')
			background-repeat: no-repeat
			background-size: 184px 37px
			background-size: center
			width: 184px
			height: 37px 

// Manufacts_

// twoblocks

.section-twoblocks
	height: 400px
	.section-inner
	.twoblocks
		display: flex
	.twoblocks-block
		width: 50%
		height: 358px
	.twoblocks-block-wrapper
		position: relative
	.twoblocks-block__bgwoman, .twoblocks-block__bgcupboard
		position: absolute
		width: 572px
		&:after
			position: absolute
			content: ''
			top: 0
			bottom: 0
			left: 0
			right: 0
			height: 358px
		img
			width: 574px
			height: 358px
	.twoblocks-block__content
		position: absolute
		z-index: 10
		right: 20px
		top: 200px
		width: 200px
	.twoblocks-block__title
		+font('FuturaDemiC', 600, 22px)
		color: #fff
		text-transform: uppercase
	.twoblock-block__button
		display: block
		letter-spacing: 2px
		color: #fff
		padding: 6px 15px
		text-transform: uppercase
		margin-top: 15px
		border: 1px solid #fff
		cursor: pointer
		font-size: 20px
		width: 130px
		text-align: center
		&:hover
			transition: all .5s ease
			color: #000000
			background: #fff
	.twoblocks-block__cupboard, .twoblocks-block__woman
		position: absolute
		z-index: 10
		top: -76px
		left: 50px
	.twoblocks-block__woman
		top: -105px

	
// twoblocks_

// Map
.section-map
	.section-inner
		background: url('../img/@2x/map.png') no-repeat
		background-size: cover
		height: 768px
	.map-title
		position: relative
		text-align: center
		.line
			overflow: hidden
			text-align: center
			text-transform: uppercase
			color: $accent
			letter-spacing: 2px
			margin-bottom: 35px
		.line-text 
			display: inline-block
			position: relative
			padding: 0 10px
			vertical-align: middle
		.line-text:before,
		.line-text:after
			content: ""
			position: absolute
			top: 50%
			width: 5000px
			height: 2px
			margin: -1px 0 0
			background: $accent
		.line-text:before 
			right: 100%
		.line-text:after 
			left: 100%
	.container
		position: relative
	.map-block
		width: 440px
		height: 519px
		background: #fff
		position: absolute
		top: 100px
		left: 0
		box-shadow: 20px 30px 0 rgba(#fff, .7)
	.map-block-line
		height: 1px
		position: absolute
		bottom: 200px
		background: $accent
		width: 100%
	.map-block-wrapper
	.map-block-titleside
		text-align: right
		margin-top: 50px
		margin-right: 50px
	.map-block__title
		font-size: 28px
		color: #888aa7
	.map-block__tel
		+font('FuturaBookC', bold, 28px)
		color: $accent
	.map-block__address
		position: relative
		display: flex
		flex-direction: column
		justify-content: space-around
		height: 377px
		font-size: 18px
		.fas
			color: $accent
			position: absolute
			top: 6px
			left: -30px
			font-size: 22px
	.map-block-topblock
		height: 150px
		padding: 0px 80px
	.topblock-address
		position: relative
	.topblock-tel
		position: relative

	.map-block-bottomblock
		height: 150px
		padding: 0px 80px
	.bottomblock-address
		position: relative
	.bottomblock-tel
		position: relative

// twoblock_

// Footer

.section-footer
	.section-inner
	.container
		position: relative
	.footer-logo
		position: absolute
		bottom: 40px
		left: 0
	.footer-fourblocks
		display: flex
		justify-content: space-between
		ul
			li
				margin-top: 6px
				a
					color: #000
					font-size: 16px
					&:hover
						text-decoration: underline
						color: $accent
						transition: color .25s ease
	.fourblocks-company
		margin-top: 50px
	.dn-item
		display: none 
	.fourblocks-company__list

	.fourblocks-specializations
		margin-top: 50px
	.fourblocks-specializations__list

	.fourblocks-directions
		margin-top: 50px

	.fourblocks-directions__list

	.fourblocks-last
		display: flex
		flex-direction: column
		justify-content: space-between
		margin-top: 50px
		text-align: right
		height: 352px
		margin-bottom: 100px
	.fourblocks-last-mode
		text-transform: uppercase
		font-size: 16px
	.mode-title
		color: $accent
	.mode-clocks

	.fourblocks-last-soc
	.soc-topblock
		text-transform: uppercase
		+font('FuturaDemiC', 600, 16px)
		margin-bottom: 17px
	.soc-topblock__email
	.soc-topblock__tel

	.soc-bottomblock
	.soc-bottomblock__button
		padding: 12px 29px
		background: $accent
		color: #fff
		font-size: 12px
	.soc-bottomblock__socbuttons
		margin-top: 10px
		padding-top: 10px
		position: relative
		.fab
			font-size: 30px
			color: #000
			margin-right: 10px
			margin-top: 5px
			&:hover
				color: $accent
				transition: color .25s ease
		.socbuttons
			position: absolute
			right: -5px


// Footer_



// Contacts.
.section-contacts
	.section-inner
	.contacts-wrapper
	.contacts
	.contacts-title
		position: relative
		text-align: center
		.line
			overflow: hidden
			text-align: center
			text-transform: uppercase
			color: $accent
			margin-bottom: 30px
			letter-spacing: 4px
		.line-text 
			display: inline-block
			position: relative
			padding: 0 10px
			vertical-align: middle
		.line-text:before,
		.line-text:after
			content: ""
			position: absolute
			top: 50%
			width: 5000px
			height: 2px
			margin: -1px 0 0
			background: $accent
		.line-text:before 
			right: 100%
		.line-text:after 
			left: 100%
	.contacts-page
		.h3-page
			color: #000
			font-size: 16px
			margin-top: 30px
			text-transform: none
			letter-spacing: 2px
	.contacts-block
		width: 750px
		height: 362px
		background: #fefefd
		box-shadow: 0px 0px 80px 0px rgba(#000, .2)
		padding: 20px
		margin:
			left: auto
			right: auto
			bottom: 150px
	.contacts-block-wrapper
		border: 1px solid $accent
		display: flex
		justify-content: space-between
		padding: 20px
	.contacts-block__list-1
		li
			a
				font-size: 18px
				color: $accent
				text-transform: uppercase
				+font1('FuturaDemiC', 600)
	.contacts-block__list-2
		li
			a
				font-size: 18px
				color: $accent


// Contacts_

// Delivery

.section-delivery
	.delivery-page
		.h3-page
			color: #000
			font-size: 16px
			margin: 30px 0px
			text-transform: none
			letter-spacing: 2px
	.dn-delivery-wrapper
		display: none
	.delivery-title
		text-align: center
		position: relative
		.line
			overflow: hidden
			text-align: center
			text-transform: uppercase
			letter-spacing: 3px
		.line-text 
			display: inline-block
			position: relative
			padding: 0 10px
			vertical-align: middle
		.line-text:before,
		.line-text:after
			content: ""
			position: absolute
			top: 50%
			width: 5000px
			height: 2px
			margin: -1px 0 0
			background: $accent
		.line-text:before 
			right: 100%
		.line-text:after 
			left: 100%
	.delivery-wrapper
	.delivery
		width: 1095px
		height: 357px
		box-shadow: 0px 0px 80px 0px rgba(#000, .25)
		padding: 20px 25px
		margin-top: 80px
		margin-bottom: 140px
	.delivery-block
		border: 1px solid $accent
	.delivery-block__text
		color: #000
		padding: 50px 40px
		font-size: 16px
		text-transform: uppercase
		text-align: center
		line-height: 1.8
	.delivery-block__texttitle
		display: none



// Delivery_


// Form

.section-form
	.form-page
	.form-block__title
		display: none
	.form-title
		text-align: center
		position: relative
		.line
			overflow: hidden
			text-align: center
			text-transform: uppercase
			letter-spacing: 3px
		.line-text 
			display: inline-block
			position: relative
			padding: 0 10px
			vertical-align: middle
		.line-text:before,
		.line-text:after
			content: ""
			position: absolute
			top: 50%
			width: 5000px
			height: 2px
			margin: -1px 0 0
			background: $accent
		.line-text:before 
			right: 100%
		.line-text:after 
			left: 100%
	.dn-form-wrapper
		display: none
	.dn-form-button
	.form-wrapper
		background: #efefef
		box-shadow: 0px 0px 80px 0px rgba(#000, .2)
		margin-bottom: 110px
		margin-top: 20px
	.form-page
		padding: 30px 0px
		.h3-page
			color: #000
			font-size: 16px
			text-transform: none
			letter-spacing: 2px

	.form
	.form-block
		display: flex
		flex-direction: column
		width: 500px
		padding: 55px 0px
		margin:
			top: 0px
			left: auto
			right: auto
			bottom: 0
	.form-block__inputs
		display: flex
		flex-direction: column
		input
			height: 40px
			border: 1px solid $accent
			margin-bottom: 20px
			box-sizing: border-box
			letter-spacing: 2px
			padding: 0px 15px
			background: transparent
			&::placeholder
				letter-spacing: 1.5px
				text-transform: uppercase
		textarea
			height: 100px
			resize: none
			padding: 15px
			box-sizing: border-box
			background: transparent
			&::placeholder
				text-transform: uppercase

	.form-block__bottom
		display: flex
		flex-direction: column
		margin-top: 20px
	.sentence
		width: 100%
		padding: 10px 0px
		text-align: center
		text-transform: uppercase
		letter-spacing: 3px
		background: $accent
		color: #fff
		display: block
	.star
		text-transform: uppercase
		margin-top: 10px
		font-size: 14px
	.checkbox
		margin-top: 5px
		text-transform: uppercase
		font-size: 14px
		


// Form
@import "_media"